.clock-active .modal {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal {
    position: absolute;
    background-color: #888;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.8;
    transform: 0.5s;
    display: none;
}

p {
    margin: 0;
}

.bg-img {
    position: absolute;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.fadein {
    -webkit-animation: fadein .5s ease-out 0s forwards;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(110px, auto);
    grid-gap: 1em;
    min-width: 900px;
    justify-content: stretch;
}

.content {
    /* background-color: #999; */
    align-self: center;
    justify-self: center;
}

.header {
    grid-column: 1 / 3;
}

.top-weather {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-weather > * {
}

.top-weather img {
    height: 80px;
    width: 80px;
}

.top-weather {
    font-size: 40px;
    color: white;
    transform: scale(0.6);
    transition: all 0.2s;
}

.top-weather:hover {
}

.degrees {
    padding-left: 20px;
    text-align: center;
}

.left-nav {
    grid-row: 3 / 7;
    align-self: stretch;
    justify-self: center;
}

.right-nav {
    grid-row: 3 / 7;
    align-self: stretch;
    justify-self: stretch;
}

.middle {
    grid-column: 2 / 3;
    grid-row: 2 / 7;

    color: #fff;
    font-size: 40px;
}

.middle .clock {
    font-size: 150px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.bottom {
    grid-column: 1 / 4;
}

.bookmark img {
    width: 150px;
    padding: 20px;
    opacity: 0.1;
    transition: 0.2s;
    transform: scale(0.9);
    margin-bottom: 60px;
}

.bookmark img:hover {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 10px 10px 10px #666;
}

.bookmark a {
    height: 200px;
    width: 200px;
}

.pomodoro p {
    text-align: center;
    font-size: 60px;
}
.pomodoro button {
    margin-top: 20px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    transition: 0.2s;
}

.pomodoro button:hover {
    opacity: 1;
    width: 100%;
    height: 50px;
    font-size: 35px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 10px 10px 5px #666;
}

.pomodoro button:active {
    box-shadow: 5px 5px 5px #666;
}


.clock2 {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.modal p {
    font-size: 40px;
    text-align: center;
    color:#fff;
}
#stop-clock {
    color: #990000;
    font-size: 30px;
    padding-top: 20px;
}